nav.menu
    ul.menu--links
        li.menu--link
            a(href="/features")
                | Features
        li.menu--link
            a(href="/pricing")
                | Pricing
        li.menu--dropdown(v-class="is-active: active", v-on="mousedown: toggle")
            span
                != user.email
            ul.submenu
                li.submenu--item
                    a(href="/")
                        | test
                li.submenu--item
                    a(href="/")
                        | test
                li.submenu--item
                    a(href="/")
                        | test
                li.submenu--item
                    a(href="/")
                        | test
                li.submenu--item.logout(v-on="mousedown: handle")
                    span
                        | Sign out
        li.menu--link(title="Remove this in production")
            a(href="#")
                | Browsersync go away

    a.menu--logo(href="/")
        | Kepler

