menu
    menu-item(href="/")
        | Kepler

    menu-item(href="/test")
        | Project

    menu-dropdown(
        align="right",
        caption="MyNameHere"
    )
        menu-dropdown-item(href="/account/settings")
            | Settings
        menu-dropdown-item(href="/account/security")
            | Security
        menu-dropdown-item
            | Sign out

    menu-item(
        align="right",
        title="Remove this in production"
    )
        | Browsersync go away
