doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        meta(http-equiv="cleartype", content="on")
        title
            block title
                | Kepler
        link(rel="stylesheet", href="/css/main.css")
        block head
          //- Additional head content (scripts, styles)

body
    header
        block header
            if user
                include /partials/menu-auth
            else
                include /partials/menu-public

    div.g--container
        main
            block content

    include /partials/footer

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue/0.12.1/vue.min.js")
    script(src="/js/bundle.js")
    block scripts
      //- Additional scripts
