extends /layouts/default

block title
    | Features - Kepler

block content
    main.g--row
        section.g--auto
            h1.
                Features
            p.g--row.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ac magna
                eget tempus. Integer scelerisque libero vitae libero sagittis varius. Vestibulum
                interdum fermentum condimentum. Aenean ac tincidunt sem, in rhoncus odio. In
                blandit ornare ipsum id sodales. Etiam in odio dignissim, condimentum elit at,
                rhoncus libero. Fusce suscipit sit amet ipsum eu mollis. Praesent efficitur eget
                nisl non consectetur.
            p.g--row.
                Sed turpis lacus, volutpat nec ex vulputate, gravida fermentum urna. Proin et quam
                neque. Fusce accumsan arcu enim, non suscipit metus rhoncus nec. Mauris eleifend
                consectetur dui, a fermentum arcu iaculis in. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Morbi porttitor vehicula dui ultrices viverra. Fusce ut
                est ac ipsum dignissim scelerisque. Quisque ac pretium turpis, eu fermentum ligula.
                Cras interdum orci velit. Proin imperdiet enim ligula, in ultrices libero malesuada
                a. Fusce placerat leo ut elit ultricies, in aliquam tortor tempus. Nulla facilisi.
                Sed in fringilla urna, vel finibus arcu. Vestibulum posuere molestie arcu in
                placerat.
