.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background: $navy;
    padding: 0 2rem;
    font-family: sans-serif;
}


.menu--logo {
    display: block;
    font-size: $scale-large;
    line-height: 4rem;
    color: white;
    text-decoration: none;
}

.menu--links {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu--link {
    float: left;
    margin: 0;
    padding: 0;

    > a {
        display: block;
        height: 4rem;
        line-height: 4rem;
        color: white;
        text-decoration: none;
        padding: 0 2rem;
    }

    &.is-active > a {
        background: darken($navy, 5%);
    }
}


.menu--dropdown {
    float: left;
    margin: 0;
    padding: 0;

    > span {
        display: block;
        height: 4rem;
        line-height: 4rem;
        color: white;
        cursor: pointer;
        padding: 0 2rem;
    }

    .submenu {
        display: none;
    }

    &.is-active {
        > span {
            background: darken($navy, 5%);
        }

        .submenu {
            display: block;
        }
    }
}


.submenu {
    width: 100%;
    background: darken($navy, 5%);
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $base-line-height;
}


.submenu--item {
    margin: 0;
    padding: 0;

    > a,
    > span {
        display: block;
        padding: 0.2rem 2rem;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &:hover a,
    &:hover span {
        background: $gray-lighter;
        color: $black;
    }
}


body {
    padding-top: 4rem;
}


footer {
    border-top: 1px solid $gray-lighter;
    padding: 2rem 0;
    margin: 5rem 0 0;
    text-align: center;
    font-family: sans-serif;

    a {
        color: $gray;
        text-decoration: none;

        &:hover {
            color: $gray-dark;
        }
    }

    img {
        display: inline-block;
        margin: 0 0.3rem;
        vertical-align: bottom;
    }
}
