.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background: $navy;
    padding: 0 2rem;
    font-family: sans-serif;
}


.menu--logo {
    display: block;
    font-size: $scale-large;
    line-height: 4rem;
    color: white;
    text-decoration: none;
}

.menu--item-left,
.menu--item-right {
    float: left;

    height: 4rem;
    line-height: 4rem;
    color: white;
    text-decoration: none;
    padding: 0 2rem;

    &.is-active {
        background: darken($navy, 5%);
    }
}


.menu--item-right {
    float: right;
}


.menu--dropdown-left,
.menu--dropdown-right {
    float: left;
    overflow: visible;

    .menu--dropdown-title {
        display: block;
        height: 4rem;
        line-height: 4rem;
        color: white;
        cursor: pointer;
        padding: 0 2rem;
    }

    .menu--dropdown-item {
        display: none;

        background: darken($navy, 5%);
        padding: 0.2rem 2rem;
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: $gray-lighter;
            color: $black;
        }
    }

    &.is-active {
        .menu--dropdown-title {
            background: darken($navy, 5%);
        }

        .menu--dropdown-item {
            display: block;
        }
    }
}


body {
    padding-top: 4rem;
}


footer {
    border-top: 1px solid $gray-lighter;
    padding: 2rem 0;
    margin: 5rem 0 0;
    text-align: center;
    font-family: sans-serif;

    a {
        color: $gray;
        text-decoration: none;

        &:hover {
            color: $gray-dark;
        }
    }

    img {
        display: inline-block;
        margin: 0 0.3rem;
        vertical-align: bottom;
    }
}
